/*genrall*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.header{
    margin: 5rem 0;
    text-align: center;
}
.header h2{
    font-size: 3rem;
    font-weight: bold;
}
.header .lin{
    position: relative;
    background-color: #0d6efd;
    width: 3rem;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
}
/*start-home*/
.over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.519);
    z-index: 1;
}
.home{
    background-image: url(amage/hero-bg.jpg);
    background-position: center ;
    background-size: cover;
    height: 100vh;
}
.navbar-brand{
    font-size: 27px;
    font-weight: bold;
}
.nav-item{
    margin-right: 10px;
}
.nav-item:hover a , .nav-item .active{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-radius: 8px;
}
.home .home-desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 6;
    color: white;
    text-align: center;
}
.home-desc h1{
    font-size: 65px;
    font-weight: 600;
    word-spacing: 0.01em;
    margin-bottom: 20px;
}
ul{
    list-style: none;
}
.home-desc p{
    font-size: 38px;
}
.home-desc p::after{
    content: " |";
    animation: typing 2s infinite;
}
@keyframes typing {
    0%{ content: " |";}
    5%{ content: " D |";}
    10%{ content: " De |";}
    15%{ content: " Dev |";}
    20%{ content: " Deve |";}
    25%{ content: " Devel |";}
    30%{ content: " Develo |";}
    40%{ content: " Develop |";}
    45%{ content: " Develope |";}
    50%{ content: " Developer |";}
    55%{ content: " Develope |";}
    60%{ content: " Develop |";}
    65%{ content: " Develo |";}
    70%{ content: " Devel |";}
    75%{ content: " Deve |";}
    80%{ content: " Dev |";}
    85%{ content: " De |";}
    90%{ content: " D |";}
    95%{ content: " |";}
}
/*start-About*/
.about-me{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem;
    background-color: white;
    box-shadow: 2px 5px 11px -3px;
}
.part-1{
    width: 50%;
}
.part-2{
    width: 45%;
}
.part-1 .item-1{
    display: flex;
    justify-content: space-between;
}
.part-1 .item-2{
    padding: 1rem;
    
}
.part-1 img{
    width: 10rem;
    border-radius: 5px;
}
.part-2 .line , .contact-part1 .line , .contact-part2 .line{
    background-color: #0d6efd;
    width: 6rem;
    height: 3px;
    margin-bottom: 3rem;
}
.part-2 p , .contact-part2 p{
    line-height: 2em;
    font-size: 18px;
    color: rgb(89, 88, 88);
}
/*start-Services*/
.col .item-1{
    background-color: white;
    box-shadow: 3px 6px 8px -5px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
.col .item-1:hover i{
    background-color: #0d6efd;
    color: white;
    border: 8px solid #87abdf;
} 
.col .item-1 i{
    font-size: 2rem;
    border: 8px solid #0d6efd;
    border-radius: 50%;
    padding: 1.1rem;
    margin: 1rem 0;
    transition: 0.5s;
    color: #253c5d;
}
.col .item-1 h4{
    font-weight: bold;
    color: rgba(46, 46, 46, 0.882);
}
.last-part-services{
    background-image: url(../css/amage/counters-bg.jpg);
    background-size: cover;
    background-position: fixed;
    margin-top: 6rem;
    position: relative;
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: #0d6dfdb0;
}
.part-number{
    display: flex;
    flex-wrap: wrap;
}
.part-number .last-item-1{
    margin: 7rem 0;
    text-align: center;
    width: 25%;
    color: white;
    position: relative;
    z-index: 15;
}
.part-number .last-item-1 i{
    font-size: 2rem;
    border: 8px solid #abbbd2;
    border-radius: 50%;
    padding: 1.1rem;
    margin-bottom: 1rem;
}
/*start-portfolio*/
.card-body{
    position: relative;
}
.card-body span{
    color: #0d6efd;
}
.card-body h5{
    color: rgba(46, 46, 46, 0.882);
    font-weight: bold;
}
.card .im {
    overflow: hidden;
}
.im img{
    transition: 1.5s;
}
.im img:hover{
    transform: scale(1.3);
}
.card-body i{
    font-size: 1.1rem;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    padding: .7rem;
    color: #0d6efd;
    position: absolute;
    left: 19rem;
    bottom: 1.7rem;
}
.sllider  , .contact{
    background-image: url(../css/amage/overlay-bg.jpg);
    background-size: cover;
    position: relative;
}
.sllider{
    margin-top: 6rem;
}
.iteem{
    text-align: center;
    padding: 5rem;
    position: relative;
    z-index: 222;
    color: rgb(233, 227, 227);
}
.iteem img{
    border-radius: 50%;
}
.sllider .carousel-indicators{
    position: relative;
    z-index: 1111;
    top: 28rem;
}
.sllider .carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
/*start-blog*/
.blog .card span{
    position: relative;
    padding: .2rem;
    top: -13px;
    left: 8rem;
    width: 60px;
    background-color: #0d6efd;
    color: white;
    border-radius: .4rem;
    font-size: .8rem;
}
/*start-contact*/
.contact{
    margin-top: 10rem;
    padding: 3rem;
}
.all{
    position: relative;
    z-index: 2222;
}
.contact-contact {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem;
    background-color: white;
    box-shadow: 2px 5px 11px -3px;
}
.contact-part1 , .contact-part2{
    position: relative;
    z-index: 3333;
    width: 50%;
    padding-left: 1.5rem;
}
.contact-part1 input{
    display: block;
    width: 100%;
    height: 3rem;
}
.contact-part1 textarea{
    display: block;
    width: 100%;
    height: 7rem;
}
.contact-part1 button{
    position: relative;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    background-color: #0d6efd;
    color: white;
    font-size: 1.4rem;
    border: 1px solid #0d6efd;
    border-radius: 2rem;
    padding: .4rem;
}
.contact-part2 .fa-solid{
    color: #0d6dfd63;
    margin: .5rem;
}
.contact-part2 span{
    color: #666;
}
.contact-part2 .fa-brands{
    margin: 1rem;
    font-size: 1.5rem;
    border: 3px solid #0d6efd;
    padding: .4rem;
    border-radius: 50%;
    transition: .5s;
    cursor: pointer;
}
.contact-part2 .fa-brands:hover{
    background-color: #0d6efd;
    color: white;
}
.footer{
    background-color: #0661c9;
    height: 18vh;
}
.footer p{
    text-align: center;
    color: white;
    padding: 2rem;
}
.footer span{
    font-weight: bold;
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) { 
    .navbar-brand{
        font-size: 18px;
    }
    .home-desc h1{
        font-size: 35px;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .home-desc p{
        font-size: 25px;
    }
    .part-1{
        width: 100%;
    }
    .card-body i{
        font-size: .5rem;
        border: 1px solid #0d6efd;
        border-radius: 50%;
        padding: .3rem;
        position: absolute;
        left: 10px;
        bottom: 10px;
    }
    .part-number .last-item-1{
        margin: 2rem 0;
        width: 100%;
    }
    .part-2{
        width: 100%;
    }
    .part-2 p{
        font-size: 15px;
    }
    .contact-part1 , .contact-part2{
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .navbar-brand{
        font-size: 22px;
    }
    .home-desc h1{
        font-size: 45px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    .home-desc p{
        font-size: 30px;
    }
    .part-1{
        width: 100%;
    }
    .card-body i{
        font-size: .8rem;
        border: 1px solid #0d6efd;
        border-radius: 50%;
        padding: .4rem;
        position: absolute;
        left: 10px;
        bottom: 5px;
    }
    .part-number .last-item-1{
        margin: 5rem 0;
        width: 50%;
    }
    .part-2{
        width: 100%;
    }
    .part-2 p{
        font-size: 18px;
    }
    .contact-part1 , .contact-part2{
        width: 100%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .navbar-brand{
        font-size: 26px;
    }
    .home-desc h1{
        font-size: 55px;
        font-weight: 400;
    }
    .home-desc p{
        font-size: 30px;
    }
    .part-1{
        width: 50%;
    }
    .card-body i{
        font-size: 1.1rem;
        border: 2px solid #0d6efd;
        border-radius: 50%;
        padding: .7rem;
        color: #0d6efd;
        position: absolute;
        left: 19rem;
        bottom: 1.7rem;
    }
    .part-number .last-item-1{
        margin: 7rem 0;
        width: 25%;
    }
    .part-2{
        width: 45%;
    }
    .part-2 p{
        line-height: 2em;
        font-size: 18px;
        color: rgb(89, 88, 88);
    }
    .contact-part1 , .contact-part2{
        width: 50%;
    }
};
/*end-assignment*/